html{
    color:rebeccapurple;
}

body{

    font-family: Arial;
    font-size: 16px;
}
header{
    text-align: center;
    background-color:pink;
    color: azure;

}
header img {
    width: 100px;
    height:auto;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.logo{
    border-radius: 10px;
    width: 20%;
    height: auto;
}
.content h2{
font-size: 1.6rem;
color:maroon;
margin: 50px;
}
.btn{
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}
/*Botón */
.btn-enviar{
    background: palevioletred;
}
.btn-enviar:hover{
    filter:brightness(1.50);
}
.btn-borrar{
    background-color: plum;
}
/*TABLA DE TARIFAS*/

.tabla-tarifas{
    width: 100%;
    border: 2px solid #333;
    border-radius: 8px;
    background: beige;
    overflow: hidden;
}
.tabla-tarifas thead th{
    background: palevioletred;
    color:#fff;
    padding: 10px;
    border-bottom: 4px solid pink;
}
.tabla-tarifas td{
    border: 1px solid #fff;
    padding: 10px;
    text-align: center;
    vertical-align: top;
}
/*FORMULARIO*/
.contacto h2 {
    margin-top: 10px;
    margin-bottom: 6px;
}
/* Párrafos del formulario*/
.contacto p {
    margin-bottom: 8px;
}
.content h2{
    font-size: 1.6rem;

}
/*Contenedor general del formulario, con borde y fondoe */
.form {
    background: #ecc2c2;
    border:1px solid #333;
    border-radius: 10px;
    padding: 16px;
}

.campo{
    display: block;
    margin-bottom:15px;
}
.campo > span {
    display: inline-block;
    margin-bottom: 6px;
    font-weight: 600;
}
/*El corchete [ tiene que estar oagado al input, sino no funciona.*/
input[type= "email"],input[type="text"],textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid paleturquoise;
    border-radius: 8px;
    outline: none;/* Sirve para que no te pases del recuadro y quede feo.Propiedad de color que genera una sombre*/
    box-sizing: border-box;/*El tamaño de la caja se establece.*/
}
.site-footer{
    margin-top: 24px;
    padding: 18px 16px;
    background: #ecc2c2;
    border-top: 1px solid #333;
    text-align: center;
}