body{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: azure;
}
header {
    background-color:rgb(231, 231, 231);
    color:black;
    text-align:center;
    padding: 1rem 0;
}
h1{
    margin: 0;
}
.logo{
    max-width: 100%;
    height: auto;
    width: 300px;
    display: block;
    margin: 0 auto;

}
.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
tarjeta{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6 px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 1 1 calc(16.66% - 20px);
    max-width: calc(16.66% -20px);
    min-width: 200px;
}
.tarjeta img{
    width: 100%;
    height: auto;
}
.tarjeta:hover{
    transform: scale(1.05);
    box-shadow: 0 8 px 12px rgba(0, 0, 0, 0.20);

}
@media (max-width: 1200px){
    .logo{
        width: 250px;

    }
    .tajeta{
        flex: 1 1 calc(25% -20px);
        max-width: clac(25%-20px);
    }
}
@media (max-width: 900px){
    .logo{
        width: 200px;

    }
    .tajeta{
        flex: 1 1 calc(33.33% -20px);
        max-width: clac(33.33%-20px);
    }
}
@media (max-width: 600px){
    .logo{
        width: 150px;

    }
    .tajeta{
        flex: 1 1 calc(50% -20px);
        max-width: clac(50%-20px);
    }
}
@media (max-width: 400px){
    .tajeta{
        flex: 1 1 100%;
        max-width: 100%;
    }
}