

body{
    font-family: Arial;
    font-size: 16px;
    color:rgb(145, 22, 0)
}
header{
    text-align: center;
    background-color:pink;
    color: azure;

}
header img {
    width: 100px;
    height:auto;
    border-radius:10px;
}

